@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(255, 136, 0), blue);
    font-family: 'Roboto', sans-serif;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#titulo {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}


.logo {
    font-family: 'Rubik Puddles', cursive;
    color: white;
    font-weight: 500;
    /* font-size: 36px; */
}



#menu {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    /* margin-right: 20px; */
}

main {
    width: 100%;
    /* background-color: aqua; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

h2 {
    font-size: 56px;
    line-height: 55px;
    font-family: 'Roboto', sans-serif;
}

span {
    color: white;
}

p {
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

ul>a {
    color: white;
    transition: all 0.5s;
    margin-right: 50px;
}

ul>a:hover {
    color: black;
}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* height: 500px; */
    /* background-color: blueviolet; */
}

#btn-trailer {
    display: block;
    color: white;
    margin-top: 20px;
    border: 2px solid black;
    padding: 20px 80px;
    border-radius: 40px;
    transition: all 0.5s;
    font-weight: bold;
}


#btn-trailer:hover {
    background-color: white;
    color: black;

}




.t>li {
    border: 2px solid black;
    padding: 10px 40px;
    border-radius: 40px;
    transition: all 0.5s;

}

.t>li:hover {
    background-color: white;
    color: black;

}

.checkbutton {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#cont-chara {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.cont-img {
    position: relative;
    width: 500px;
    height: 500px;
    /* background-color: chartreuse; */
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    transition: border 1.5s ease-in-out;
    box-shadow: 7px 7px 5px black;
    cursor: pointer;
}

.cont-img:hover {
    border: 2px solid rgb(9, 255, 0);
}

.cont-img>p {
    color: white;
    position: absolute;
    top: 90%;
    font-size: 30px;

}

.cont-img>img {
    width: 100%;
    height: 100%;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-cont {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background-color: chartreuse;

}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.modal-cont {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .modal-cont {
        width: 100%;
    }
}

@media screen and (max-width:500px) {

    header {
        width: 100%;
    }

    main {

        display: flex;
        flex-direction: column;
        /* margin-top: 50px; */

    }

    #menu {
        position: fixed;
        left: 0%;
        top: -150%;
        background-image: linear-gradient(to bottom right, rgb(168, 0, 0), rgb(0, 0, 185));
        width: 100%;
        height: 100vh;
        display: block;
        transition: all .5s;

    }

    .links{
        display: block;
        text-align: center;
        margin: 30px auto;
      }

    aside {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        /* height: 500px; */
        /* background-color: rgb(171, 238, 109); */
    }

    article {
        margin-top: 20px;
        width: 100%;
        /* background-color: chartreuse; */
    }

    .checkbutton {
        display: block;
        cursor: pointer;
    }

    #check:checked~#menu {
        display: block;
        top: 100px;

        z-index: 1;
    }

    .cont-img {
        width: 100%;
    }
}